# Server
APPLICATION_NAME=SMUS-SERVER
PORT=1199
ENVIRONMENT=development

# Logging
LOGGER_TYPE=file
LOG_LEVEL=DEBUG
LOG_PATH=logs

# Encryption
CIPHER_TYPE=blowfish
ENCRYPTION_KEY=key

# Protocol
PROTOCOL=smus
